body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

body,
pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 1.3;
}

.container {
  display: flex;
}

.nav {
  flex: 1;
  margin-top: 20px;
  padding: 8px;
  background-color: #f7f7f7;
}

.nav-group {
  margin-bottom: 20px;
}

.nav-group .title {
  margin: 0;
  margin-bottom: 6px;
  background-color: #3474B5;
  color: #fff;
  padding: 2px 8px;
}

.nav-group .list {}

.main {
  flex: 3;
  z-index: 1001;
  background-color: #f7f7f7;
  padding-left: 12px;
}

.main .section {
  margin-top: 50px;
  border-top: 2px solid #ddd;
}

.main .section:first-child {
  margin-top: 0;
  border-top: none;
}

.schemas {}

.nav .fixed {
  position: fixed;
  top: 20px;
  bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-item {
  margin-bottom: 4px;
}

.nav-warn {}

.nav-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav-warn a {
  color: #DC400F;
}

.nav-item a:hover {
  background-color: #005BA2;
  color: #fff;
}

.type-item {
  margin: 10px 0;
  padding: 8px;
  background-color: #fff;
}

.type-item .type-name {
  margin-top: 0;
}

.type-item .type-define {
  background-color: #f7f7f7;
  padding: 4px 14px;
  margin: 0;
  margin-top: -6px;
}

.error-item {
  margin: 10px 0;
  padding: 8px;
  background-color: #fff;
}

.error-item .error-name {
  margin-top: 0;
}

.error-item .error-info {
  background-color: #f7f7f7;
  padding: 4px 14px;
  margin: 0;
  margin-top: -6px;
}

.error-item .error-info .name {
  color: #888;
  font-weight: bold;
}

.error-item .error-info .value {
  color: #005BA2;
  font-weight: bold;
}

.schema {
  margin: 50px 0;
  padding: 8px;
  background-color: #fff;
}

.schemas .schema:first-child {
  margin-top: 0;
}

.schema .title {
  margin-top: 0;
}

.schema .title a {
  text-decoration: none;
  color: #000;
}

.schema .title a:hover {
  background-color: #005BA2;
  color: #fff;
}

.schema .group {}

.schema .source-file {}

.schema .dev {
  color: #DC400F;
  font-weight: bold;
}

.schema .description {
  margin: 10px 0;
}

.schema .param-item {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 4px 0;
}

.schema .param-item:last-child {
  border-bottom: none;
}

.schema .param-name {
  color: #18181a;
  font-weight: bold;
  flex: 1;
}

.schema .param-comment {
  color: #404040;
  flex: 5;
}

.schema .param-type {
  color: #1c7ef2;
  font-weight: bold;
  flex: 2;
}

.schema .param-default {
  color: #1c7ef2;
  font-weight: bold;
}

.schema .type-description {
  color: #aaa;
  display: inline-block;
  font-weight: normal;
  margin-left: 6px;
}

.schema .block {
  margin-top: 16px;
}

.schema .block-title {
  margin-bottom: 6px;
  background-color: #3474B5;
  color: #fff;
  padding: 2px 8px;
}

.schema .example {
  padding: 4px 14px;
  margin: 0;
  margin-top: -6px;
  background-color: #f7f7f7;
}

pre.prettyprint {
  padding: 0;
  border: none;
}

.sub-text {
  color: #aaa;
}

small.sub-text {
  color: #777;
}

@media (max-width:800px) {
  .container {
    display: block;
  }
  .nav {
    flex: initial;
    margin-bottom: 50px;
    border-bottom: 4px solid #ddd;
  }
  .nav .fixed {
    position: initial;
  }
  .main {
    flex: initial;
  }
}